body {
  font-family: 'Noto Sans', sans-serif;
}


.footer .icon-link {
  font-size: 25px;
  color: #000;
}

.link-block a {
  margin-top: 5px;
  margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}


.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.highlight {
  background-color: #fbeee2;
}

.info {
  background-color: #fff6ee;
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color: #ffffff;
}

.leftrow {
  text-align: left;
}

td,
th,
tr {
  border: 1px solid #3f1613;
  padding: 8px;
  vertical-align: middle;
}



footer {
  background-color: #fbeee2 !important;
}

a {
  color: #a34e2d;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}

.rainbow-button {
  background: linear-gradient(to bottom right, rgba(255, 0, 0, 0.5) 0%, rgba(255, 0.554, 0, 0.5) 10%, rgba(208, 222, 33, 0.5) 20%, rgba(79, 220, 74, 0.5) 30%, rgba(63, 218, 216, 0.5) 40%, rgba(47, 201, 226, 0.5) 50%, rgba(28, 0.527, 238, 0.5) 60%, rgba(95, 21, 242, 0.5) 70%, rgba(186, 0.52, 248, 0.5) 80%, rgba(251, 7, 217, 0.5) 90%, rgba(255, 0, 0, 0.5) 100%);
}

.rainbow-icon .fa {
  display: inline;
  margin-left: 15px;
}

.publication-title {}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {}

.publication-title {
  font-family: 'Google Sans', sans-serif;
}

.publication-authors {
  font-family: 'Google Sans', sans-serif;
}

.publication-venue {
  color: #555;
  width: fit-content;
  font-weight: bold;
}

.publication-awards {
  color: #ff3860;
  width: fit-content;
  font-weight: bolder;
}

.publication-authors {}

.publication-authors a {
  color: #a34e2d !important;
}

.publication-authors a:hover {
  text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-banner img {}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;

  overflow: hidden;
  border-radius: 10px !important;
}

.publication-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.publication-body img {}

.results-carousel {
  overflow: hidden;
}

/*.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 0;
  font-size: 0;
}*/

.online_3d_viewer {
  /*width: 800px;*/
  height: 600px;
}


.interpolation-panel {
  background: #f5f5f5;
  border-radius: 10px;
}

.interpolation-panel .interpolation-image {
  width: 100%;
  border-radius: 5px;
}

.interpolation-video-column {}

.interpolation-panel .slider {
  margin: 0 !important;
}

.interpolation-panel .slider {
  margin: 0 !important;
}

#interpolation-image-wrapper {
  width: 100%;
}

#interpolation-image-wrapper img {
  border-radius: 5px;
}

.button {
  border-color: #a34e2d;
  background-color: #fbeee2;
}